*{
    margin:0;
    padding: 0;
}
.main{
    height: 100vh
}
.left{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    background: #1ba1e2;
    height: 100vh;
}
.right{
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    background: #1ba1e2;
    height: 100vh;
}
.main{
    margin: 0 200px;
    height: 100vh
}